.btn-add-cake {
  border: none;
  color: white;
  width: 192px;
  height: 45px;
  transform: translate(-50%);
  background-image: linear-gradient(to right, #ffde86 -90%, #fec361, #fea541, #ff8328, #ff5a1c);
  box-shadow: 0 3px 20px #B54600;
  border-radius: 29px;
  letter-spacing: 1.12px;
  cursor: pointer;
  display: flex;

  &:focus {
    outline: none;
  }

  .fa {
    display: none;
  }

  .active-icon {
    padding-left: 10px;
    line-height: 45px;
    display: inline;
  }

  .mg-left-35 {
    margin-left: -35px;
  }

  span {
    display: block;
    font: Bold 14px/19px PT Sans;
    width: 100%;
    text-align: center;
    line-height: 45px;
  }
}
