.dialog {
  position: relative;
  height: 100%;
}

.error {
  color: red;
  font-size: 12px;
}

header {
  background: rgba(196, 196, 196, .1);
  height: 134px;
  position: relative;

  .fa-plus {
    color: white;
    background: #ff5a1c;
    height: 25px;
    width: 24px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    position: relative;
    top: 70px;
    left: 375px;
    z-index: 10;
    cursor: pointer;
  }

  img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 3px solid #80808033;
    box-sizing: border-box;
    position: absolute;
    top: 45px;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
  }

  .empty-image-cake {
    box-sizing: border-box;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%);
    width: 180px;
    height: 180px;
    background: #FFFFFF 0 0 no-repeat;
    border: 3px solid #EBEBEB;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;

    .fa-birthday-cake {
      font-size: 60px;
      color: #EBEBEB;
    }
  }

  input[type="file"] {
    display: none;
  }
}

.main-container {
  margin-top: 120px;
}

.form-group {
  text-align: center;

  input[type="text"] {
    font-size: 20px;
    letter-spacing: 0;
    color: #FFA786;
  }

  input[type="text"], textarea {
    border: none;
    outline: none;
    text-align: center;
    caret-color: #FFA786;
    font-family: 'PT Bold', serif;

    &:focus {
      border-bottom: 1px solid #FFA786;
    }

    &::placeholder {
      font-family: 'PT Bold';
      color: #FFA786;
      opacity: 1; /* Firefox */
      line-height: 1.5em;
      font-size: 20px;
    }

    &::-ms-input-placeholder {
      color: #FFA786;
      line-height: 1.5em;
      font-family: 'PT Bold';
      font-size: 20px;
    }

    &::-ms-input-placeholder {
      color: #FFA786;
      line-height: 1.5em;
      font-family: 'PT Bold';
      font-size: 20px;
    }
  }
}

textarea {
  color: #C4C4C4;
}

.cake-name {
  padding-bottom: 4px;
  box-sizing: border-box;
}

.cake-description textarea {
  width: 90%;
  letter-spacing: 0.8px;
  font-size: 16px;
  font-family: 'PT Sans';

  & + div {
    text-align: right;
    margin-right: 33px;
  }

}

.number-portion {
  font: 12px/15px 'PT Sans';
  letter-spacing: 1.08px;
  color: #C4C4C4;
}

.number-portion {
  text-align: center;
}

.cake-portions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    margin-right: 30px;
    cursor: pointer;
    font: 18px/23px 'PT Sans';
    color: #FFA786;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 0.699999988079071px solid #C4C4C4;;
    line-height: 32px;
    text-align: center;
  }

  .container:hover input ~ .checkmark {
    border: 1px solid #FFA786;
  }

  .container input:checked ~ .checkmark {
    border: 1px solid #FFA786;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
  }
}


.price-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .portion-price {
    background: white;
  }

  .box {
    padding: 0 10px;

    & label {
      font: 12px/15px 'PT Sans';
      letter-spacing: 1.08px;
      color: #C4C4C4;
      display: block;
    }

    & input {
      width: 100px;
      max-width: 200px;
    }
  }
}

.footer {
  border-top: 1px solid #C4C4C4;
  height: 90px;
  width: 631px;
  background: rgba(231, 231, 231, .25);
  position: absolute;
  bottom: 0;
  text-align: center;

}

app-button {
  position: absolute;
  top: 21px;
  left: 50%;
}


.image-error {
  border: 2px solid red !important;
}
