<header>
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 115.406">
      <defs>
        <style>.a, .b {
          fill: #ffa786;
        }

        .a {
          font-size: 52px;
          font-family: LineAwesome;
        }

        .b {
          font-size: 31px;
          font-family: PTSans-Bold, PT Sans;
          font-weight: 700;
        }

        .c {
          fill: #c4c4c4;
          font-size: 12px;
          font-family: PTSans-Regular, PT Sans;
          letter-spacing: 0.09em;
        }</style>
      </defs>
      <g transform="translate(-84 -25.935)">
        <text class="a" transform="translate(123 74.935)">
          <tspan x="0" y="0"></tspan>
        </text>
        <text class="b" transform="translate(84 119)">
          <tspan x="0" y="0">CakeShop</tspan>
        </text>
        <text class="c" transform="translate(96 138.341)">
          <tspan x="0" y="0">BAKE YOUR CAKE</tspan>
        </text>
      </g>
    </svg>
  </div>
</header>
<div class="container">
  <ng-container *ngIf="cakes.length then cakesList else default"></ng-container>
</div>
<app-button (click)="openDialog()" [buttonName]="'DODAJ CIASTO'" [icon]="'plus'"></app-button>


<ng-template #cakesList>
  <div class="cake" *ngFor="let cake of cakes" [@EnterLeave]>
    <app-cake
      [cake]="cake"
      (edit)="editCake($event)"
      (remove)="removeCake($event)"
    ></app-cake>
  </div>
</ng-template>

<ng-template #default>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="empty-list" *ngIf="!isLoading">
    <i class="fa fa-birthday-cake"></i>
    <p class="no-cakes-text">Nie masz żadnych ciast na liście</p>
    <div class="info-box">
      <p class="no-cakes-info">Aby dodać pierwsze ciasto, kliknij </p>
      <p class="no-cakes-info">w poniższy przycisk:</p>
    </div>
  </div>
</ng-template>
