header {
  height: 192px;
  border: 1px solid #C4C4C4;
  margin-bottom: 55px;

  .logo {
    width: 130px;
    height: 115px;
    margin: 21px auto 0 auto;
  }
}

.cake:not(:last-child) {
  border-bottom: 1px solid #C4C4C4;
}

.container {
  width: 632px;
  margin: 0 auto;
  height: calc(100vh - 250px);
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.empty-list {
  margin: 0 auto;
  width: 480px;
  text-align: center;

  .fa-birthday-cake {
    font-size: 153px;
    color: #FFA786;
    opacity: 0.09;
    margin-top: 76px;
  }

  .no-cakes-text {
    font: Bold 26px/33px PT Sans;
    color: #FFA786;
    margin-top: 20px;
  }

  .info-box {
    margin-top: 20px;

    .no-cakes-info {
      text-align: center;
      font: 20px/26px 'PT Sans';
      letter-spacing: 1px;
      color: #C4C4C4;
      opacity: 1;
    }
  }
}

app-button {
  position: fixed;
  bottom: 40px;
  left: 50%;
}
