<div class="cake" *ngIf="cake">
  <div class="wrapper">
    <div class="image">
      <img [src]="!cake.image ? 'assets/images/cake_02.png' : cake.image" alt="">
    </div>
    <div class="content">
      <p class="cake-name">{{cake.name}}</p>
      <p class="cake-description">{{cake.description}}</p>
      <div class="cake-footer">
        <span class="portion-number">LICZBA PORCJI {{cake.numberOfPortion}}</span>
        <span class="divider">|</span>
        <span class="price">CENA CIASTA {{cake.price}}</span>
      </div>
    </div>
  </div>
</div>
