.cake {
  width: 632px;
  height: 197px;

  box-sizing: border-box;
  margin-bottom: 25px;

  .wrapper {
    display: flex;

    & > div {
      margin-left: 20px;
    }
  }

  $font-size: 16px;
  $line-height: 1.5;
  $lines-to-show: 2;

  .content {
    .color-orange {
      color: #FFA786;
    }

    .number {
      font-size: 18px;
    }

    .box {
      font-family: "PT Bold", serif;
      font-size: 20px;
      margin-top: 20px;
      display: flex;

      .action-icons {
        margin-left: auto;

        .fa-plus-circle {
          transform: rotate(45deg);
        }

        & i {
          cursor: pointer;
        }

        & i:last-child {
          margin-left: 20px;
        }
      }
    }


    .cake-description {
      height: $font-size*$line-height*$lines-to-show;
      font-size: 16px;
      font-family: 'PT Sans', serif;
      letter-spacing: 0.8px;
      color: #C4C4C4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      display: -webkit-box;
      line-height: 1.5;
      -webkit-line-clamp: $lines-to-show;
      line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      margin-bottom: 10px;
    }
  }

  img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid #EBEBEB;
  }

  .cake-footer {
    height: 14px;
    font-size: 12px;
    letter-spacing: 1.08px;
    color: #C4C4C4;

    & > span {
      display: inline-block;
    }

    .portion-number, .price {
      width: 120px;
      font-weight: bold;
    }

    .portion-number {
      padding-right: 10px;
    }

    .price {
      padding-left: 20px;
    }
  }
}
