/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'PT Sans';
  src: url("/assets/fonts/PTS55F.ttf") format("truetype");
}

@font-face {
  font-family: 'PT Bold';
  src: url("/assets/fonts/PTS75F.ttf") format("truetype");
}

@font-face {
  font-family: FontAwesome;
  src: url(/assets/fonts/line-awesome.eot?v=1.1.);
  src: url(/assets/fonts/line-awesome.eot??v=1.1.#iefix) format("embedded-opentype"), url(/assets/fonts/line-awesome.woff2?v=1.1.) format("woff2"), url(/assets/fonts/line-awesome.woff?v=1.1.) format("woff"), url(/assets/fonts/line-awesome.ttf?v=1.1.) format("truetype"), url(/assets/fonts/line-awesome.svg?v=1.1.#fa) format("svg");
  font-weight: 400;
  font-style: normal
}

*, body {
  font-family: 'PT Sans', serif;
  margin: 0;
  padding: 0;
}

.custom-dialog {
  .mat-dialog-container {
    padding: 0;
    border-radius: 6px;
  }
}

